/*GLOBAL CSS*/

:root {
  --primary-background-color: #292d45;
  --primary-background-color2: #161929;
  --secondary-background-color: #5f6986;
  --secondary-background-color2: #1d2232;
  --nav-color: #ffffff;
  --accent-color: #db415b;
  --secondary-accent-color: #303656;
  --primary-text-color: #eaeaf0;
  --secondary-text-color: #333333;
}
  
/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 133);
}

/*NavBar*/
#IntroIcon {
  /*Image Styles*/
  height: 70px;
  width: 70px;
}
.navbar-toggler {
  color: var(--accent-color) !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar {
  background-color: rgba(255, 0, 0, 0);
}
.navbar-collapse {
  /*Font Styles*/
  font-size: 20px;
  font-weight: 100;
}
#navbarSupportedContent {
  /*Container Styles*/
  justify-content: right;
  text-align: right;
  background-color: rgba(0, 0, 0, 0);
}
.nav-item a:hover {
  color: var(--accent-color) !important;
}
.active {
  font-weight: 500;
}
.nav-item a {
  color: var(--nav-color) !important;
}
.container-fluid {
  padding: 0% !important;
}
#displayMode {
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  border: none;
}
.MastheadImage {
  /*Image Styles*/
  height: auto;
  width: 100%;

  /*Container Styles*/
  margin-bottom: 20px;
  box-shadow: -16px 10px 20px rgba(1, 1, 1, 0.6);
  border-radius: 10px;
}

/*Generic Stuff*/
.col-md-12 {
  padding: 0%;
}
body {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-background-color),
    var(--secondary-background-color2)
  );
  padding: 20px;
  overflow-x: hidden;
}
.hidden {
    display: none;
}
html {
  height: 100%;
}
@media only screen and (max-width: 991px)
{
  .mobile-hide
  {
    display: none !important;
  }
  
}
@media only screen and (max-width: 991px)
{
  .mobile-show
  {
    display: block !important;
  }
}
.mobile-show
{
  display: none;
}







  
.MainContentWrapper {
  /*Font Styles*/
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-text-color);

  /*Container Styles*/
  padding: 20px;
  height: auto;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-background-color),
    var(--primary-background-color2)
  );
  box-shadow: -16px 10px 20px rgba(1, 1, 1, 0.6);
  border-radius: 10px;
}

.SecondaryContentWrapper {
  /*Font Styles*/
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-text-color);

  /*Container Styles*/
  height: auto;
  width: 100%;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0);
}

#messageOutputWrapper
{
  padding: 20px;
  height:500px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#InputRow
{
  width: 100%;
}

.message {
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(1, 1, 1, 0.6);
  border-radius: 10px;
  width: fit-content;
}

.messageWrapper {
  width: 100%;
}

.remoteMessage {
  background-color: var(--secondary-accent-color);
  text-align: left;
  margin-right: auto;
}

.clientMessage {
  background-color: var(--accent-color);
  text-align: right;
  margin-left: auto;
}

#message-input {
  width: 80%;
  border-radius: 10px;
  font-weight: bold;
  border: 0px;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}

#send-button {
  border-radius: 10px;
  border: 0px;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}
  