:root
{
  --foreground-color-1: #292d45;
  --foreground-color-2: #161929;
  --background-color-1: #5f6986;
  --background-color-2: #1d2232;
  --accent-color-1: #DB415B;
  --accent-color-2: #ED6470;
  --text-color-1: #eaeaf0;
  --text-color-2: #333333;
}

html {
  overflow-x: hidden;
  background-color: var(--background-color-2);
}

@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

#siteLogo {
  width: 75px;
  height: 75px;
}

#banner {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.AppWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App {
  text-align: center;
  width: 100%;
}

.chatWrapper {
  height: 100%;
  width: 90%;
  margin: auto;
  padding-top: 10px;
}

.body {
  background-color: #DB415B;
}

#navWrapper {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.App header {
  margin-top: 20px;
  height: 10vh;
  min-height: 50px;
  color: var(--text-color-1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.App section {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--background-color-1),
    var(--background-color-2)
  );
}

main {
  padding: 10px;
  height: 70vh;
  margin: 8vh 0 1vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom right,
    var(--foreground-color-1),
    var(--foreground-color-2)
  );
  box-shadow: 0px 5px 10px rgba(1, 1, 1, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color-1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-2);
  border-radius: 10px;
}

.text {
  color: var(--text-color-1);
}

form {
  height: 7vh;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

button {
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom right,
    var(--accent-color-1),
    var(--accent-color-2)
  );
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
}

.inputWrapper {
  width: 100%;
  display: flex;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: var(--foreground-color-2);
  color: var(--text-color-1);
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sendButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.sign-in {
  background-image: linear-gradient(
    to bottom right,
    var(--accent-color-1),
    var(--accent-color-2)
  );
  color: var(--text-color-1);
  max-width: 400px;
  margin: 0 auto;
}




ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(1, 1, 1, 0.6);
}

.message {
  display: flex;
  align-items: center;
  font-weight: bold;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: var(--text-color-1);
  background-image: linear-gradient(
    to bottom right,
    var(--accent-color-1),
    var(--accent-color-2)
  );
  align-self: flex-end;
}
.received p {
  color: var(--text-color-1);
  background: var(--foreground-color-2);
}

